<header id="aboutHeader" class="about-header">
    <section id="aboutHeaderSection" class="about-header-section">
        <figure id="aboutFigure" class="about-figure">
            <img id="aboutImage" class="about-image" src="images/about.jpg" alt="About Image">
            <figcaption id="aboutFigcaption" class="about-figcaption">
                <h1 id="aboutFigCaptionH1" class="about-figcaption-h1">About Us</h1>
            </figcaption>
        </figure>
        <h1 id="aboutHeaderH1" class="about-header-h1">
            About Us
        </h1>
    </section>
</header>