
    <header>
        <h1 id="headerH1" class="header-h1">
            {{configs.applicationName}}
        </h1>
        <h2 id="headerH2" class="header-h2">
            Sandbox workout of MySQL and Node.js
        </h2>
    </header>

    <main>
    </main>

    <footer>
    </footer>

