@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Bagel+Fat+One&family=Black+Ops+One&display=swap');
/* 
https://fonts.google.com/share?selection.family=Allerta+Stencil|Bagel+Fat+One|Black+Ops+One
    font-family: 'Source Code Pro', monospace;
    font-family: 'Titillium Web', sans-serif; 
    font-family: 'Alberta Stencil', monospace;
    font-family: 'Bagel Fat One', sans-serif; 
    font-family: 'Black Ops One', sans-serif; 
*/