@import url('https://fonts.googleapis.com/css2?family=Chango&family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,400&display=swap');
/* font-family: 'Chango', sans-serif;
font-family: 'Source Code Pro', monospace; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #333;
}

body {
    margin: 0;
    padding: 0;
}

.header-main {
    margin: 5em auto 3em 32.3323%;
    padding: 0.3em 0.3em;
    position: absolute;
    display: inline-block;
    width: 47%;
    height: 27%;
    border: 1.85em solid hsla(248, 53%, 58%, 0.979);
    border-radius: 1.78em;
    background-color: hsla(187, 52%, 80%, 0.993);
    filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.673));
    box-shadow: inset 0.7em 0.7em 0.15rem hsla(0, 0%, 0%, 0.273);
}

.header-main .header-h1 {
    margin: 0.9em auto 1.2em auto;
    padding: 0;
    position: inline-block;
    display: relative;
    text-align: center;
    text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.973);
    font-family: 'Chango', sans-serif;
    font-size: 2.2rem;
    color: hsla(248, 39%, 39%, 0.993);
    letter-spacing: 0.2333em;
}

.header-main .header-h2 {
    margin: 0.9em auto 0.9em auto;
    padding: 0;
    position: inline-block;
    display: relative;
    text-align: center;
    text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.973);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.723rem;
    color: hsla(0, 0%, 0%, 0.973);
    letter-spacing: 0.1333em;

}