@import url('https://fonts.googleapis.com/css2?family=Chango&family=Source+Code+Pro:ital,wght@0,200;0,400;0,600;0,700;0,900;1,200;1,400&display=swap');
/* font-family: 'Chango', sans-serif;
font-family: 'Source Code Pro', monospace; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #333;
}

body {
    margin: 0;
    padding: 0;
}

.header-main {
    margin: 5em auto 3em 32.3323%;
    padding: 0.3em 0.3em;
    position: absolute;
    display: inline-block;
    width: 47%;
    height: 27%;
    border: 1.85em solid hsla(248, 53%, 58%, 0.979);
    border-radius: 1.78em;
    background-color: hsla(187, 52%, 80%, 0.993);
    filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.673));
    box-shadow: inset 0.4em 0.4em 1.15em hsla(0, 0%, 0%, 0.473);
}

.header-main .header-h1 {
    margin: 0.9em auto 1.2em auto;
    padding: 0;
    position: inline-block;
    display: relative;
    text-align: center;
    text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.973);
    font-family: 'Chango', sans-serif;
    font-size: 2.2rem;
    color: hsla(248, 39%, 39%, 0.993);
    letter-spacing: 0.2333em;
    color: hsla(0, 0%, 65%, 0.993);
}

.header-main .header-h2 {
    margin: 0.9em auto 0.9em auto;
    padding: 0;
    position: inline-block;
    display: relative;
    text-align: center;
    text-shadow: 0 0 0.75rem hsla(0, 0%, 0%, 0.973);
    font-family: 'Source Code Pro', monospace;
    font-size: 1.723rem;
    color: hsla(0, 0%, 0%, 0.973);
    letter-spacing: 0.1333em;

}

@media screen and (max-width: 1790px) {
    .header-main .header-h1 {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 1620px) {
    .header-main {
        height: auto;
        border: 1.45em solid hsla(248, 53%, 58%, 0.979);
        box-shadow: inset 0.4em 0.4em 0.55em hsla(0, 0%, 0%, 0.473);
    }

    .header-main .header-h1 {
        font-size: 1.5rem;
    }

    .header-main .header-h2 {
        font-size: 1.223rem;
    }
}

@media screen and (max-width: 1260px) {
    .header-main .header-h1 {
        font-size: 1.1rem;
    }

    .header-main .header-h2 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 960px) {
    .header-main {
        height: auto;
        border: 0.85rem solid hsla(248, 53%, 58%, 0.979);
        box-shadow: inset 0.2em 0.2em 0.35em hsla(0, 0%, 0%, 0.473);
    }

    .header-main .header-h1 {
        font-size: 0.85rem;
    }

    .header-main .header-h2 {
        font-size: 0.72rem;
    }
}

@media screen and (max-width: 710px) {
    .header-main {
        height: auto;
        border: 0.65rem solid hsla(248, 53%, 58%, 0.979);
    }

    .header-main .header-h1 {
        font-size: 0.65rem;
    }

    .header-main .header-h2 {
        font-size: 0.42rem;
    }
}

@media screen and (max-width: 550px) {
    .header-main {
        height: auto;
        border: 0.35rem solid hsla(248, 53%, 58%, 0.979);
    }

    .header-main .header-h1 {
        font-size: 0.35rem;
    }

    .header-main .header-h2 {
        font-size: 0.17rem;
    }
}

@media screen and (max-width: 300px) {
    .header-main {
        height: auto;
        border: 0.15rem solid hsla(248, 53%, 58%, 0.979);
    }

    .header-main .header-h1 {
        font-size: 0.18rem;
    }

    .header-main .header-h2 {
        font-size: 0.1rem;
    }
}