<!--    Team Webelistics® LLC  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2023/10/11'     -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> meta_head}}
    {{> seo_head}}
    <link rel="shortcut icon" href="/views/images/tw_logo.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/views/css/index.css">
    {{{script}}}
    {{!-- <script src="../../src/js/index.js" content="text/javascript" defer></script> --}}
    <title>{{{title}}}</title>
</head>

{{{body}}}